<div class="row large-12 columns">
  <h2>Completar mi información</h2>
  <br />
</div>
<div class="row">
  <div class="large-4 columns">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <h3><span class="number">1</span> ¿Quién?</h3>
      <div class="field">
        <%= f.label :nombre, "Nombre de la organización" %>
        <%= f.text_field :nombre %>
      </div>
      
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
      
      <div class="field">
        <%= f.label :telefono, "Teléfono" %>
        <%= f.text_field :telefono %>
      </div>
      
      <div class="field">
        <%= f.label :comuna, "Nombre de la comuna" %>
        <%= f.text_field :comuna %>
      </div>
      
      <div class="field">
        <%= f.label :barrio, "Nombre del barrio" %>
        <%= f.text_field :barrio %>
      </div>
      
      <div class="field">
        <%= f.label :lugar, "Ubicación" %>
        <%= f.text_field :lugar %>
      </div>
      
      <div class="field">
        <%= f.label :direccion, "Dirección" %>
        <%= f.text_field :direccion %>
      </div>
      
    </div>
    <div class="large-8 columns">
      <h3><span class="number">2</span> ¿Qué hacemos?</h3>
      <div class="field">
        <%= f.label :descripcion, "¿Cómo cree que su proyecto se articula con el MDE15?" %>
        <%= f.text_area :descripcion %>
      </div>
      
      <div class="field">
        <%= f.label :web, "Página web" %>
        <%= f.text_field :web %>
      </div>
      
      <div class="field">
        <%= f.label :categoria, "¿Su organización pertenece a alguna de estas categorias?" %>
        <%= f.text_field :categoria %>
      </div>
      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Esperando confirmación de: <%= resource.unconfirmed_email %></div>
      <% end %>
    
      <!-- <div class="row">
        <div class="large-6 columns">
          <div class="field">
            <% f.label :password, "Contraseña" %> <i>(Dejar en blanco si no lo quieres cambiar)</i>
            <% f.password_field :password, autocomplete: "off" %>
          </div>
        </div>

        <div class="large-6 columns">
          <div class="field">
            <% f.label :password_confirmation, "Confirmar contraseña" %>
            <% f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>
      </div> -->
      
      <div class="field">
        <%= f.label :current_password, "Contraseña actual" %> <i>(necesitamos la contraseña actual para confirmar los cambios)</i>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
      
      <div class="field">
      <div class="row collapse">
        <div class="large-6 columns"><%= f.label :admin, "¿Hacer este usuario administrador?" %></div>
        <div class="large-6 columns">
          <div class="switch round small">
            <%= f.check_box :admin %>
            <%= f.label :admin %>
          </div>
        </div>
      </div>
      </div>
    
      <div class="actions">
        <%= link_to "volver", :back, class: "button left" %>
        <%= f.submit "Actualizar mi información", class: "button success right" %>
      </div>
    <% end %>
    <br /><br /><br /><br /><br />
    <hr />
    <h3>Cancelar mi cuenta</h3>
    <div class="row">
      <div class="large-6 columns">
        <p>¿Quieres cancelar la cuenta? </p>
      </div>
      <div class="large-6 columns">
        <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class: "button alert tiny" %>
      </div>
    </div>
    </div>
</div>