  <% content_for(:body_attributes) do %>
    data-no-turbolink="true"
  <% end %>

<% 

@nororiental = ["El Chagualo",
"Estación Villa",
"Aranjuez",
"Berlín",
"La Piñuela",
"San Isidro",
"Palermo",
"Bermejal",
"San Pedro",
"Sevilla",
"Brasilia",
"Manrique Central 1",
"Manrique 1 Central 2",
"Campo Valdés 1",
"Campo Valdés 2",
"Popular 1 y 2",
"Santo Domingo Savio 1",
"y 2",
"Moscú 1",
"Moscú 2",
"Granizal",
"La Isla",
"El Raizal",
"El Playón de los",
"Comuneros 1 (La",
"Frontera)",
"Moravia",
"El Jardín",
"Las Nieves",
"María Cano",
"Carambolas",
"Villa Roca",
"La Esperanza",
"La Avanzada",
"El Compromiso",
"Carpinelo",
"Versalles 1",
"Versalles 2",
"San José la Cima 1",
"San José La Cima 2",
"Bello Horizonte",
"Oriente",
"La Cruz",
"Villa Guadalupe",
"San Pablo",
"La Francia",
"Andalucía",
"La Rosa",
"Santa Cruz",
"La Salle",
"Las Granjas",
"Manrique 1 Oriental",
"El Pomar",
"Las Esmeraldas",
"Santa Inés",
"San Blas",
"Niza Norte (Villa Niza)"
]

@noroccidental = [
"Robledo",
"Cerro El Volador",
"El Cucaracho",
"Palenque 1 y 2",
"San Germán",
"La Pilanca",
"El Progreso",
"Iguaná",
"Lenin",
"Aures",
"Mirador del 12",
"Picacho",
"Picachito",
"Salvador",
"Allende",
"Jorge Eliécer",
"Gaitán",
"La Torre",
"Santa Teresa de",
"Jesús",
"Armero II",
"Búcaros",
"El Paraíso",
"El Bosque",
"El Triunfo",
"Brasil",
"Los Arrayanes",
"El Progreso",
"La Minita",
"San Nicolás",
"María Auxiliadora",
"F.Gómez",
"Castilla",
"Caribe",
"Belalcázar",
"El Día",
"San Martín",
"La Esperanza",
"Kennedy",
"Castillita",
"Miramar",
"Santa Margarita",
"Alfonso López",
"Pedregal",
"Florencia",
"Boyacá",
"Las Brisas",
"Antonio Zea",
"López de Mesa",
"Córdoba",
"Téjelo",
"Santander",
"12 de Octubre",
"Tricentenario",
"Bello Horizonte",
"La Pola",
"Monteverde",
"Villaflora",
"Vallejuelos",
"Villa Sofía",
"Romeral",
"Doña María",
"Robledo",
"Nebraska",
"El Cortijo",
"Candelaria"
]

@centroriental = [
 "Guayaquil",
 "Colón",
 "Sucre",
 "La Ladera",
 "El Salvador",
 "Loreto",
 "Villa Hermosa",
 "Enciso",
 "La Milagrosa",
 "Alejandro",
 "Echavarría",
 "La Mansión",
 "Caicedo",
 "La Toma",
 "San Diego",
 "Las Palmas",
 "La Independencia",
 "Perpetuo Socorro",
 "Corazón de Jesús",
 "Barrio Nuevo",
 "Llanaditas",
 "Buenos Aires",
 "Boston",
 "Prado",
 "Villa Nueva",
 "San Benito",
 "Candelaria",
 "Corazón de Jesús",
 "Bomboná",
 "Los Ángeles",
 "San Miguel",
 "Villatina",
 "Llanaditas",
 "Lomas de",
 "Llanaditas",
 "Julio Rincón",
 "Manuel Morales",
 "Villa Turbay",
 "Juan Pablo II",
 "San Antonio ",
 "Las Estancias",
 "Santa. Lucía",
 "8 de Marzo",
 "13 de Noviembre",
 "La Libertad",
 "La Primavera",
 "El Edén",
 "La Sierra",
 "Golondrinas",
 "Brisas de Oriente",
 "El Vergel",
 "Enciso",
 "Loyola",
 "Los Cerros",
 "Diego Echavarría",
 "La Colina",
 "Pinar del Cerro",
 "Caunces de Oriente",
 "Cataluña",
 "Colinas de La",
 "Candelaria",
 "Quintas de la Playa",
 "Urbanización Los",
 "Cerros",
 "Urbanización El",
 "Carmelo",
 "Urbanización La",
 "Palma",
 "Isaac Gaviria "
]

@centroccidental = [
 "El Salado",
 "Betania",
 "La Puerta",
 "La Loma",
 "El Corazón",
 "Belencito",
 "El Coco",
 "El Socorro",
 "Campo Alegre",
 "La América",
 "San Javier",
 "Floresta",
 "El Danubio",
 "Barrio Cristóbal",
 "Lorena",
 "Laureles",
 "Miravalle",
 "Florida",
 "Ferrini",
 "La Independencia 1,",
 "2, 3",
 "Nuevos",
 "Conquistadores",
 "La Colina",
 "Fuente Clara",
 "Blanquizal",
 "La Quiebra",
 "Santa Rosa de Lima",
 "La Pradera",
 "Los Alcázares",
 "Antonio Nariño",
 "Metropolitano",
 "20 de Julio",
 "San Joaquín",
 "Carlos E. Restrepo",
 "Santa Mónica",
 "Santa Lucía",
 "Calasanz",
 "Conquistadores",
 "Velódromo",
 "Unidad Deportiva",
 "Florida Nueva",
 "Simón Bolívar",
 "Bolivariana",
 "Suramericana "
]

@suroriental = [
  "Loma de los Parra",
  "Loma de Los",
  "González",
  "El Garabato",
  "El Tesoro",
  "Loma de Los",
  "Mangos",
  "La Chacona",
  "El Poblado",
  "Aguacatala",
  "Castropol",
  "Patio Bonito",
  "LLeras",
  "Santa María de los",
  "Ángeles",
  "Villa Carlota",
  "Barrio Colombia",
  "Manila",
  "Astorga",
  "Provenza",
  "Alejandría",
  "Los Balsos",
  "Las Lomas",
  "Altos del Poblado",
  "San Lucas",
  "Florida",
  "El Castillo",
  "El Diamante",
  "Los Naranjos",
  "El Remanso",
  "El Futuro",
  "Guadalajara",
  "Vegas del Poblado"
]

@suroccidental = ["Cristo Rey",
 "Nutibara",
 "Barrio Antioquia",
 "El Rodeo",
 "Altavista",
 "El Rincón",
 "Las Mercedes",
 "Belén",
 "Guayabal",
 "Alpinos",
 "Trinidad",
 "San Bernardo",
 "Las Playas",
 "Granada",
 "Betania",
 "Sucre",
 "Zafra",
 "Apolo",
 "Las Violetas",
 "Las Playas",
 "Rafael Uribe Uribe",
 "Los Libertadores",
 "La Castellana",
 "Santa fe",
 "Colina del Sur",
 "Coimita",
 "Shellmar",
 "Noel",
 "Campo Amor",
 "San Pablo",
 "Manzanares",
 "Mallorca",
 "Aliadas",
 "Rosales",
 "Fátima",
 "La Nubia",
 "Los Alpes",
 "La Palma",
 "La Castellana",
 "La Mota",
 "El Enclave",
 "Kalamarí",
 "El Rodeo",
 "Loma de los Bernal"]
 
@rural = [
 "Altavista",
 "Palmitas",
 "Santa Elena",
 "San Cristóbal",
 "San Antonio de Prado"
 ] 

@sectores = {
  "Nororiental" => @nororiental.sort,

"Noroccidental" => @noroccidental.sort,

"Centroriental" => @centroriental.sort,

"Centroccidental" => @centroccidental.sort,

"Suroriental" => @suroriental.sort,

"Suroccidental" =>  @suroccidental.sort,
 
 "Distrito rural" => @rural.sort 
}

@comunas = ["Barrio Popular", "Santa Cruz", "Manrique", "Aranjuez", "Castilla", "Doce de Octubre", "Robledo", "Villa Hermosa", "Buenos Aires", "La Candelaria", "Laureles-Estadio", "La América", "San Javier", "El Poblado", "Guayabal", "Belén"]

%>

<div class="row large-12 columns">
  <h2>Completar mi información</h2>
  <br />
</div>
<div class="row">
  <div class="large-4 columns">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <h3><span class="number">1</span> ¿Quiénes somos?</h3>
      <div class="field">
        <%= f.label :nombre, "Nombre de la organización" %>
        <%= f.text_field :nombre %>
      </div>
      
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
      
      <div class="field">
        <%= f.label :telefono, "Teléfono" %>
        <%= f.text_field :telefono, :placeholder => "+54 795 59 23" %>
      </div>
      
      <div class="field">
        <%= f.label :barrio, "Nombre del barrio" %>
        <%= f.select :barrio, @sectores.sort %>
      </div>
      
      <div class="field">
        <%= f.label :lugar, "Ubicación" %>
        <%= f.text_field :lugar, :placeholder => "Al lado de la estación, frente al aeropuerto etc.." %>
      </div>
      
      <div class="field">
        <%= f.label :direccion, "Dirección" %>
        <%= f.text_field :direccion, :placeholder => "Ej: Cra 24 # 12 - 41 apto 1216" %>
      </div>
      
    </div>
    <div class="large-8 columns">
      <h3><span class="number">2</span> ¿Qué hacemos?</h3>
      <div class="field">
        <%= f.label :descripcion, "¿Cómo cree que su proyecto se articula con el MDE15?" %>
        <%= f.text_area :descripcion %>
      </div>
      
      <div class="field">
        <%= f.label :web, "Página web" %>
        <%= f.text_field :web %>
      </div>
      
      <% @categorias = ["sociales", "culturales", "artisticas", "educativas"] %>
      <div class="field">
        <%= f.label :categoria, "¿Su organización pertenece a alguna de estas categorias?" %>
        <%= f.select :categoria, @categorias.sort %>
      </div>
      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Esperando confirmación de: <%= resource.unconfirmed_email %></div>
      <% end %>
        
      <div class="field">
        <%= f.label :imagen do %>
          Añadir una imagen representativa: <i class="redtxt">Rectangular min. 500x280 max. 1MB</i>
        <% end %>
        <% if resource.imagen.present? %>
          <%= image_tag resource.imagen_url(:thumb), :class => 'th round' %>
        <% end %>
        <br />
        <%= f.file_field :imagen %>
      </div>
      
      <div class="field">
        <%= f.label :logo do %>
          Añadir una logo de la organización: <i class="redtxt">Formato cuadrado min. 200x200 max. 1MB</i>
        <% end %>
        <% if resource.logo.present? %>
          <%= image_tag resource.logo_url(:thumb), :class => 'th round' %>
        <% end %>
        <br />
        <%= f.file_field :logo %>
      </div>
      
      <div class="field">
        <%= f.label :current_password, "Contraseña actual" %> <i>(necesitamos la contraseña actual para confirmar los cambios)</i>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>
      
      <div class="field">
      <div class="row collapse">
        <div class="large-6 columns"><%= f.label :admin, "¿Hacer este usuario administrador?" %></div>
        <div class="large-6 columns">
          <div class="switch round small">
            <%= f.check_box :admin %>
            <%= f.label :admin %>
          </div>
        </div>
      </div>
      </div>
    <br />
      <div class="actions">
        <%= f.submit "Actualizar mi información", class: "button success right" %>
      </div>
    <% end %>
</div>

<div class="row">
<div class="large-12 columns">
  <%= link_to "volver", :back, class: "button left" %>
  <br /><br /><br /><br /><br /><br />
  <hr />
  <h3>Cancelar mi cuenta</h3>
  <div class="row">
    <div class="large-4 columns">
      <p>¿Quieres cancelar la cuenta? </p>
    </div>
    <div class="large-8 columns">
      <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class: "button alert tiny" %>
    </div>
  </div>
  </div>
</div>
</div>