<%= form_for(@evento) do |f| %>
  <% if @evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= @evento.errors.count > 1 ? "#{@evento.errors.count} Errores no dejaron " : "#{@evento.errors.count} Error no dejó" %> que este evento fuera creado:</h2>
      <ol>
      <% @evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ol>
    </div>
  <% end %>

<div class="large-4 columns">
  <h3><span class="number">1</span> ¿Dónde?</h3>
  <div class="field">
    <%= f.label :direccion, "Dirección" %>
    <%= f.text_field :direccion, :value => @evento.direccion || current_user.direccion, :placeholder => "Ej: Cra 24 # 32 - 50" %>
  </div>
  <div class="field">
    <%= f.label :lugar %>
    <%= f.text_field :lugar, :value => @evento.lugar || current_user.lugar, :placeholder => "Ej: Cerca al exito del centro" %>
  </div>
  <div class="field">
    <%= f.check_box :espacio %>
    <%= f.label :espacio, "Marque la casilla si necesita un espacio", id: "inliner" %>
  </div>
  <div class="field" id="necessities">
    <%= f.label :necesidades, "Describa las necesidades del espacio" %>
    <%= f.text_area :necesidades, :placeholder => "Ej: Necesito un espacio amplio preferiblemente con salida a la calle" %>
  </div>
</div>
<div class="large-8 columns">
  <h3><span class="number">2</span> ¿Qué?</h3>
  <div class="field">
    <%= f.label :nombre, "Nombre del evento" %>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion, "Descripción" %>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field">
    <%= f.label :web, "Página web del evento" %>
    <%= f.text_field :web, :value => @evento.web || current_user.web, :placeholder => "Ej: http://www.paginawebdelevento.com" %>
  </div>
  <div class="field hide">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :imagen do %>
      Añadir una imagen del evento: <i class="redtxt">Rectangular min. 300x180 max. 1MB</i>
    <% end %>
    <% if @evento.imagen.present? %>
      <%= image_tag @evento.imagen_url(:thumb), :class => 'th round' %>
    <% end %>
    <br />
    <%= f.file_field :imagen %>
  </div>
  <br />
  <h3><span class="number">3</span> ¿Cúando?</h3>
  <div class="row">
    <div class="large-8 columns">
      <div class="field selectize">
        <%= f.label :cuando, "Fecha y hora" %>
        <%= f.datetime_select :cuando %>
      </div>
    </div>
    <div class="large-4 columns">
      <div class="field selectize">
        <%= f.label :duracion, "Duración" %>
        <%= f.time_select :duracion %>
      </div>
    </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit "Guardar", :class => "button right success" %>
  </div>
<% end %>