<div class="row">
  <div class="large-12 columns">
    <%= form_for(@evento) do |f| %>
      <% if @evento.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@evento.errors.count, "error") %> prohibited this evento from being saved:</h2>
    
          <ul>
          <% @evento.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="field">
        <%= f.label :nombre %>
        <%= f.text_field :nombre %>
      </div>
      <div class="field">
        <%= f.label :lugar %>
        <%= f.text_field :lugar %>
      </div>
      <div class="field">
        <%= f.label :direccion %>
        <%= f.text_field :direccion %>
      </div>
      <div class="field">
        <%= f.label :espacio %>
        <%= f.check_box :espacio %>
      </div>
      <div class="field">
        <%= f.label :necesidades %>
        <%= f.text_area :necesidades %>
      </div>
      <div class="field">
        <%= f.label :descripcion %>
        <%= f.text_area :descripcion %>
      </div>
      <div class="field">
        <%= f.label :web %>
        <%= f.text_field :web %>
      </div>
      <div class="field">
        <%= f.label :cuando %>
        <%= f.datetime_select :cuando %>
      </div>
      <div class="field">
        <%= f.label :imagen do %>
          Imagen del evento: <i class="redtxt">Rectangular min. 300x180 max. 1MB</i>
        <% end %>
        <% if @evento.imagen.present? %>
          <%= image_tag @evento.imagen_url(:thumb), :class => 'th round' %>
        <% end %>
        <br />
        <%= f.file_field :imagen %>
      </div>
      <div class="actions">
        <%= f.submit "Guardar", :class => "button right success" %>
      </div>
    <% end %>
    </div>
</div>