<div class="row">
  <div class="large-12 columns">
    <br />
    <h2>Mis eventos</h2>
    <br />
    <ul class="large-block-grid-3 small-block-grid-2">
      <% @eventos.each do |evento| %>
        <li>
          <% if evento.imagen.present? %>
            <%= image_tag evento.imagen_url(:big), class: "full" %>
          <% end %>
          <h4 class="no-margin"><%= evento.nombre %></h4>
          <span class="label"><%= evento.cuando %></span>
          <div class="desc">
            <%= evento.descripcion.truncate(150, separator: ' ') %>
          </div>
          <h6 class="subheader no-margin"><%= evento.direccion %>, <%= evento.lugar %></h6>
          <h6 class="subheader text-center"><%= link_to evento.web %></h6>
          <div class="right">
            <%= link_to edit_evento_path(evento), class: "secondary" do %>
              <%= fa_icon "edit", text: "Editar" %>
            <% end %>
            <%= link_to  evento, method: :delete, data: { confirm: 'Are you sure?' }, class: "redtxt" do %>
              <%= fa_icon "trash", text: "borrar" %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
   
    <br>
    
    <%= link_to 'Crear un nuevo evento', new_evento_path, class: "button success right radius" %>
    </div>
</div>