<nav class="top-bar" data-topbar role="navigation">
  <section class="top-bar-section">

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">Inicio</a></li>
      <li class="has-dropdown">
        <a href="#">MDE15</a>
        <ul class="dropdown">
          <li><a href="#">Artistas</a></li>
        	<li><a href="http://mde.org.co/mde15/es/tipo/artista/">Artistas</a></li>
        	<li><a href="http://mde.org.co/mde15/es/lugar/espacios-anfitriones/">Espacios Anfitriones</a></li>
        	<li class="has-dropdown">
            <a href="http://mde.org.co/mde15/es/programa/mde15/temas/">Temas</a>
          	<ul class="dropdown">
          		<li><a href="http://mde.org.co/mde15/es/tema/violencia-conflicto-y-memoria/">Violencia, conflicto y memoria</a></li>
          		<li><a href="http://mde.org.co/mde15/es/tema/historias-locales-en-el-contexto-global/">Historias locales en el contexto global</a></li>
          		<li><a href="http://mde.org.co/mde15/es/tema/las-dinamicas-del-poder-sobre-el-cuerpo/">Las dinámicas del poder sobre el cuerpo</a></li>
          		<li><a href="http://mde.org.co/mde15/es/tema/vacilando-la-institucion/">Vacilando la institución</a></li>
          		<li><a href="http://mde.org.co/mde15/es/tema/ciudad-resiliente-suenos-deseos-y-posibilidades/">Ciudad resiliente: sueños, deseos y posibilidades</a></li>
          	</ul>
          </li>
          <li><a href="http://mde.org.co/mde15/es/tipo/curador/">Curadores</a></li>
          <li><a href="http://mde.org.co/mde15/es/programa/mde15/historia/">Historia</a></li>
          <li><a href="http://mde.org.co/mde15/es/calendario/">Calendario</a></li>
        </ul>
      </li>
      <li><a href="http://mde.org.co/mde15/es/programa/mde-expandido/">MDE Expandido</a></li>
      <li class="has-dropdown"><a href="http://mde.org.co/mde15/es/programa/actividades-paralelas/">Actividades Paralelas</a>
        <ul class="dropdown">
          <li><a href="http://mde.org.co/mde15/es/programa/actividades-paralelas/envie-su-evento/">Publique su evento</a></li>
        </ul>
      </li>
      <li class="has-dropdown"><a href="">Actualidad</a>
        <ul class="dropdown">
          <li><a href="http://mde.org.co/mde15/es/programa/actividades-paralelas/envie-su-evento/">Noticias</a></li>
          <li><a href="http://mde.org.co/mde15/es/programa/actividades-paralelas/envie-su-evento/">Blog</a></li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="http://mde.org.co/mde15/es/programa/mde-expandido/">Prensa</a>
        <ul class="dropdown">
        	<li><a target="_blank" href="https://vimeo.com/museodeantioquia">Videos</a></li>
        	<li><a target="_blank" href="https://www.flickr.com/photos/museodantioquia/sets/72157651528983406">Galería de fotos</a></li>
        	<li><a target="_blank" href="https://www.dropbox.com/sh/9wjvfj2tg42kwm6/AABzDOuOnD-xKoY3ssTiu5Ssa?dl=0">Descargas</a></li>
        	<li><a target="_blank" href="http://mde.org.co/mde15/es/prensa/">Archivo</a></li>
        </ul>
      </li>
      <li class="has-dropdown"><a href="http://mde.org.co/mde15/es/programa/mde-expandido/">Agenda</a>
        <ul class="dropdown">
        	<li><a href="http://mde.org.co/mde15/es/agenda/mde15-oficial/">MDE15</a></li>
        	<li><a href="http://mde.org.co/mde15/es/agenda/mde-expandido/">MDE Expandido</a></li>
        	<li><a href="http://mde.org.co/mde15/es/agenda/actividades-paralelas/">Actividades Paralelas</a></li>
        </ul>
      </li>
      <li><a href="http://www.museodeantioquia.co/">Museo</a></li>
    </ul>
  </section>
</nav>

<div id="user_nav">
  <% if user_signed_in? %>
    <div class="pic">
      <%= image_tag current_user.logo.present? ? current_user.logo_url(:thumb) : "http://placehold.it/70"  %>
    </div>
    <div class="info">
      <h5 class="no-margin capitalize"><%= current_user.nombre %></h5>
      <p class="no-margin"><%= link_to edit_user_registration_path, class: "redtxt" do %> <%= fa_icon "pencil", text: "Editar mi perfil" %> <% end %> | <%= link_to destroy_user_session_path, :method => :delete, class: "redtxt" do %> <%= fa_icon "sign-out", text: "Cerrar sesión" %> <% end %></p>
    </div>
  <% else %>
    <div class="right default">
      <%= link_to "Registrarse", new_user_registration_path, class: "redtxt"  %> o
      <%= link_to "Iniciar sesión", new_user_session_path, class: "redtxt"  %>
    </div>
  <% end %>
</div>