<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "MDE15" %></title>

    <%= stylesheet_link_tag    "application" %>
		<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.1/mapbox-gl.css' rel='stylesheet' />
		<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
		<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.1/mapbox-gl.js'></script>
    <%= csrf_meta_tags %>
		
	  <!-- required: realtime support framework -->
	  <%= realtime_support %>
	  <!-- optional: message_handler dequeues realtime messages into Backbone.js style events -->
	  <%= realtime_message_handler %>
	  <!-- optional: message_console_logger listens or dequeues realtime messages to the browser console -->
	  <%= realtime_message_console_logger %>
  </head>

  <body>
	
		<div class="main"><%= yield %></div>

  </body>
</html>